<div class="container-fluid text-center">
  <div class="row">
    <div class="col-md-offset-3 col-md-6 col-xs-offset-2 col-xs-8">
      <h3>New Group</h3>
    </div>
  </div>

  <div class="row margin-top-with-header">
    <div class="col-md-offset-3 col-md-6 col-xs-offset-2 col-xs-8 img-rounded light-blue-node">
        <%= render partial: 'form', 
          locals: {button_icon: 'glyphicon-plus', button_caption: 'Create Group'}%>
    </div>    
  </div>
</div>
