<%@groups.each do |group| %>
  <p>
    <%=link_to( group.name, "/users/#{@user.id}/groups/#{group.id}")%>
    <%=link_to("Exit group", "/users/#{@user.id}/groups/#{group.id}/exit")%>
  </p>

<%end%>

<p><%=link_to( "Create group", "/users/#{@user.id}/groups/new")%></p>
