<div class="container-fluid text-center">
  <div class="row">
    <div class="col-md-offset-3 col-md-6 col-xs-offset-2 col-xs-8">
        <h3>Edit event of <%=@group.name%></h3>
    </div>
  </div>

  <div class="row margin-top-with-header">
    <div class="col-md-offset-3 col-md-6 col-xs-offset-2 col-xs-8 img-rounded light-blue-node">
      <%= render partial: 'form', 
        locals: {button_icon: 'glyphicon-floppy-disk', url: group_event_url, button_caption: 'Update Event'}%>
    </div>    
  </div>
 
</div>