<div class="container text-center">
  <div class="row">
    <div class="col-md-offset-3 col-md-6 col-xs-offset-2 col-xs-8" >
      <h3>Hey! Invite somebody to <%=@group.name%> </h3>
    </div>
  </div>

  <div class="row">
    <div class="col-md-offset-3 col-md-6 col-xs-offset-2 col-xs-8 img-rounded light-blue-node">
    <div class="row">
        <h3>Find user by name</h3>
    </div>

    <div class="row">
        <input class="input-name-user" type="text">
        <!-- <p>Search by email: <input class="input-email-user" type="text"> </p> -->
        <button class="btn btn-input-user">Submit</button>
    </div>

    <div class="row">
      <div class="search_results">
        <p class="length-of-results" style="font-size: 16px"></p>
        <div class="search-results"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-offset-3 col-md-6 col-xs-offset-2 col-xs-8" >
      <%= link_to "Go back to group", group_url(@group.id), method: "get" %>
    </div>
  </div>

</div>


