/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 10vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}


* {
   font-size: 16px;
   line-height: 1.428;
}

.light-blue-node {
  background-color: #c9e9f6;
}

.margin-top{
  margin-top: 1em;
}

.margin-navbar{
  margin-top: 1.5em;
}

.margin{
  margin: 1em;
  font-size: 16px;
}

.alert-color{
  background-color: #ffadad
}

.field-margin{
  margin: 2em;
}

p {
   font-size: 16px; 
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}
.row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

.margin-top-valign{
  margin-top: 0.45em;
}

.margin-top-with-header{
  margin-top: 3em;
}

.selected-appointment{
  font-weight: bold;
}

.list-without-style{
  list-style-type:none; 
  padding:0;
}

.time-in-h3{
  font-size: 24px;
}

.no-link {
 color: white !important;
}

a:hover {
  background-color: inherit; 
  color: inherit;
}